.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container .logo-completa {
  width: 100%;
  padding: 15%;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .login-container .logo-completa {
    width: 452px;
    padding: 7%;
    margin: 0 20% 0 20%;
  }
}


@media (max-width: 500px) {
  .login-container .logo-completa {
    margin: 0;
  }
}