.loadingScreen-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  opacity: 50%;
  z-index: 1000000000000000000;
  position: absolute;
  right: 0;
  top: 0;
}

.loadingScreen-container img {
  width: 15%;
}

@keyframes loadingScreen-img {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
